/* Generale */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgba(244, 244, 249, 0.8); /* Leggero sfondo bianco */
}

/* Colori principali */
:root {
    --verde: #2ecc71; /* Verde erba */
    --azzurro: #3498db; /* Blu cielo */
    --bianco: rgba(255, 255, 255, 0.9); /* Bianco semi-trasparente */
    --scuro: #2c3e50; /* Colore scuro */
}

/* Header */
header nav {
    background-color: rgba(52, 152, 219, 0.8); /* Aggiunta trasparenza per uno sfondo più elegante */
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Ombra per profondità */
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 20px; /* Spazio aumentato per i link */
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px; /* Aumentato per una migliore leggibilità */
    transition: color 0.3s, transform 0.3s; /* Aggiunta transizione */
}

header nav ul li a:hover {
    color: #ecf0f1; /* Colore più chiaro al passaggio del mouse */
    transform: scale(1.1); /* Effetto di ingrandimento al passaggio del mouse */
}

/* Sezione */
section {
    margin: 20px auto; /* Centrato orizzontalmente */
    padding: 20px;
    max-width: 600px; /* Limita la larghezza per dispositivi più grandi */
    background: var(--bianco); /* Bianco semi-trasparente */
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

/* Form */
form {
    margin-bottom: 30px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: var(--azzurro); /* Colore blu cielo */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9; /* Colore blu scuro al passaggio del mouse */
}

/* Footer */
footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: var(--scuro); /* Colore scuro */
    color: white;
}

#result {
    margin-top: 20px;
}

/* Risultati */
#result p {
    background-color: #ecf0f1; /* Colore chiaro per i risultati */
    padding: 10px;
    border-left: 5px solid var(--azzurro); /* Linea blu a sinistra */
    margin-bottom: 10px;
    border-radius: 3px;
}

/* Modifiche per il tema verde */
h1, h2 {
    color: var(--scuro); /* Colore scuro per i titoli */
}

section h2 {
    color: var(--verde); /* Verde per i titoli delle sezioni */
}

button {
    background-color: var(--verde); /* Colore verde per i pulsanti */
}

button:hover {
    background-color: #27ae60; /* Verde scuro al passaggio del mouse */
}

/* Responsiveness */
@media (max-width: 768px) {
    header nav ul li {
        display: block; /* Imposta i link su una colonna per schermi piccoli */
        margin: 10px 0; /* Margine verticale per spazio */
    }
}
